# Плагины
#openai~=1.6.1
#pyautogui~=0.9.54

# Веб-сервер
uvicorn~=0.18.3
uvicorn[standard]~=0.18.3
fastapi~=0.81.0
starlette~=0.19.1

# Распознание и воспроизведение голоса
vosk~=0.3.45
vosk-tts~=0.3.52
#torch~=2.1.2 		#для Silero

# tts elevenlabs
elevenlabs==1.0.3

# Локальные запись и воспроизведение звука
sounddevice~=0.4.3
soundfile~=0.10.3.post1

# Общие
termcolor~=1.1.0
requests~+2.27.1
python-dateutil~=2.6.0
lingua-franca~=0.4.3