pyttsx3==2.90
vosk~=0.3.45
termcolor~=1.1.0
sounddevice
soundfile
requests
numpy
audioplayer
python-dateutil

fastapi
uvicorn[standard]
gradio~=3.28.3
fsspec==2023.1.0
openai==0.28.0
elevenlabs==1.0.3

