wikipedia-api~=0.5.4
pyttsx3~=2.90
vosk~=0.3.45
vosk-tts~=0.3.52
termcolor~=1.1.0
sounddevice
soundfile
pyautogui
requests
numpy
audioplayer
python-dateutil~=2.6.0
gradio~=3.28.3
fsspec==2023.1.0
openai==0.28.0
elevenlabs==1.0.3
